.App {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
}

.dayNum1 .dayText,
.dayNum2 .dayText,
.dayNum4 .dayText,
.dayNum5 .dayText {
  display: block;
}

.dayNum1 ~ .dayNum1 .dayText,
.dayNum2 ~ .dayNum2 .dayText,
.dayNum4 ~ .dayNum4 .dayText,
.dayNum5 ~ .dayNum5 .dayText {
  display: none;
}

.indexChosen {
  opacity: 0.3;
}

.chosenTime {
  width: 350px;
  height: 30px;
  line-height: 30px;
  display: block;
}
