.day-num-1 .day-text,
.day-num-2 .day-text,
.day-num-4 .day-text,
.day-num-5 .day-text {
  display: block;
}

.day-num-1 ~ .day-num-1 .day-text,
.day-num-2 ~ .day-num-2 .day-text,
.day-num-4 ~ .day-num-4 .day-text,
.day-num-5 ~ .day-num-5 .day-text {
  display: none;
}

.index-chosen {
  color: blue;
}
